* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#__nuxt {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none !important;
}

.btn {
    width: fit-content;
}