// ISU colours
$_red: rgb(229, 61, 47); // avoids overriding danger colour
$yellow: rgb(241, 172, 34);
$green: rgb(1, 120, 84);
$blue: rgb(21, 71, 143);

// bootstrap overrides
$primary: $_red;
$secondary: $blue;
// $tertiary: $blue;
$link-color: $blue;
// $success: $green;
// $navbar-light-color: rgba($primary, .5);
// $navbar-light-hover-color: rgba($primary, .7);
// $navbar-light-active-color: rgba($primary, .9);