@import "_reset.scss";
@import "_variables.scss";

// bootstrap imports

@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

.card {
    border-color: transparent;
    background-color: #f8f9fa;
}