body {
    font-family: "Open Sans", sans-serif;
}

.prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-weight: 500;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    text-decoration: none;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)):not(h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a):not(.btn):not(nav a) {
    color: hsl(var(--link));
}

main a, footer a {
    color: hsl(var(--link));
}

a.btn:hover {
    text-decoration: none;
}

main a:not(nav a):hover, footer a:hover {
    text-decoration: underline;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: hsl(var(--foreground));
    position: relative;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    text-decoration: none;
}

h1 > a:hover::before, h2 > a:hover::before, h3 > a:hover::before, h4 > a:hover::before, h5 > a:hover::before, h6 > a:hover::before {
    content: "#";
    color: hsl(var(--link));
    left: -0.75em;
    position: absolute;
    line-height: 1.25em;
}
