$primary: #e63d30;
$navBg: #e2e2e2;
$maxPageWidth: 1400px;

$isu-red: #e53d2e;
$isu-red-pastel: #fc7e73;
$isu-yellow: #f1ac22;
$isu-yellow-pastel: #ffcf6e;
$isu-green: #017955;
$isu-green-pastel: #33a684;
$isu-blue: #15488e;
$isu-blue-pastel: #3769b0;
